@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F3FBFF;
  --foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #F3FBFF;
  }
}

/* styles/globals.css */


@font-face {
  font-family: 'Tasa Orbiter Display';
  src: url('/fonts/TASAOrbiterVF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Apply the font to your body */
body {
  font-family: 'Tasa Orbiter Display', sans-serif;;
  font-weight: 400; /* You can set the default weight you prefer */
}


body {
  color: var(--foreground);
  background: var(--background);
  background-image: linear-gradient(white 1px, transparent 1px), linear-gradient(90deg, white 1px, transparent 1px);
  background-size: 70px 70px;
  min-height: 100vh;
}

.font-jet-brains {
  letter-spacing: -0.8px;
}